.profile-picture {
    // justify-content: center;
    img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid white;
    // justify-content: center;
    }
}

@media screen  {
    
}