.projects-outer-container {
  padding: 0rem 8rem;
  margin-bottom: 15rem;

  .headline {
    padding: 2rem 0rem;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(77, 77, 78);
  }
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
}

@media only screen and (max-width: 900px) {
  .projects-outer-container {
    padding: 0rem 3rem;
  }
  .headline {
    text-align: center;
  }
  .projects-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: stretch;
  }
}